<header>
  <nav class="full-navbar">
    <div class="left-nav">
      <a href = "www.mamamimi.com"><img src="../../assets/images/3479853.png" height="50px"></a>

      <ul class="left-nav-elements">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Adopt</a></li>        
        <li><a href="#">Donate</a></li>      
      </ul>
    </div>

    <div class="right-nav push-right">
      <ul class="right-nav-elements">
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Sign Up</a></li>        
        <li><a href="#">Login</a></li>    
      </ul>
    </div>
  </nav>
</header>